<div class="container-fluid px-3 introduccion">
    <h2 class=" pt-4 text-primary ">¿Cómo Funciona?</h2>
    <div class="d-flex flex-column flex-md-row-reverse  align-items-center ">
        <img class=" mx-auto flex-shrink-0 mt-md-n5" src="../../../assets/imgs/ilustrations/team-presentation.svg"
            alt="team-presentation" width="45%">
        <p class="text-light align-self-md-start pt-md  -3 ms-md-4">Tu plataforma de código abierto para crear,
            colaborar y crecer. Únete a nuestra comunidad de
            desarrolladores y comienza a adquirir experiencia práctica, enriquecer tu portafolio y conectar con empresas
            que
            buscan talento.
        </p>
    </div>
</div>
<br>
<div class="bg-primary py-4">
    <div class="container">
        <h3 class=" pt-2 text-light ">Partes principales</h3>


        <div class="pt-3" ngbAccordion>
            <div ngbAccordionItem [collapsed]="false">
                <h2 ngbAccordionHeader>
                    <button class="text-primary" ngbAccordionButton>Proyectos de Código Abierto</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody class="d-flex flex-column">
                        <ng-template>
                            <p class="text-white-50">
                                Descubre una amplia variedad de proyectos de <span class="text-primary">código
                                    abierto</span> creados por nuestra comunidad.
                                Explora, aprende y contribuye a proyectos que abarcan diversas tecnologías y lenguajes
                                de
                                programación. Desde aplicaciones web hasta herramientas de desarrollo, hay algo para
                                todos.
                            </p>

                            <p class="text-white-50 mt-3">
                                Aquí, <span class="text-primary">cualquier desarrollador</span> puede presentar sus
                                proyectos para compartir conocimientos y
                                recibir retroalimentación. Todos nuestros proyectos están alojados en un repositorio de
                                <a href="https://github.com/dicsstartup">GitHub</a>, accesible para cualquier miembro de
                                nuestra comunidad. Nuestro repositorio es un
                                lugar dinámico donde los desarrolladores pueden colaborar y mejorar sus habilidades en
                                un
                                entorno práctico y real.
                            </p>
                            <img class="mx-auto" src="../../../assets/imgs/ilustrations/entrepreneur.svg"
                                alt="entrepreneur" width="35%">
                            <p class="text-white-50  mt-3">
                                Si deseas presentar tu propio proyecto, el proceso es sencillo. Puedes enviar una
                                solicitud
                                detallada por correo electrónico a nuestro equipo, o unirte a nuestro canal de <a
                                    target="_blank" href="https://t.me/+xGquW2xtYXRiMDM0">Telegram</a> y
                                enviar tu propuesta allí. Nuestro equipo revisará tu proyecto, y una vez aprobado, se
                                añadirá al repositorio y a la pagina web para que toda la comunidad pueda verlo y
                                colaborar.
                            </p>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div ngbAccordionItem [destroyOnHide]="false">
                <h2 ngbAccordionHeader>
                    <button class="text-primary" ngbAccordionButton> Comunidad de Apoyo</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody class="d-flex flex-column">
                        <ng-template>
                            <p class="text-white-50">
                                Únete a una comunidad donde todos nos ayudamos. Participa en nuestro grupo, discute
                                problemas
                                técnicos, comparte soluciones y crece junto con otros desarrolladores. No importa tu
                                nivel
                                de experiencia, siempre hay algo que aprender y alguien con quien colaborar. <span
                                    class="text-success"> Tanto si eres
                                    un principiante que está dando sus primeros pasos en el mundo del desarrollo como si
                                    eres un
                                    experto con años de experiencia</span>, encontrarás un lugar en nuestra comunidad.
                            </p>
                            <img class="mx-auto" src="../../../assets/imgs/ilustrations/diversity.svg" alt="diversity"
                                width="35%">
                            <p class="text-white-50 mt-3" type="secondary">
                                Contamos con varios canales y grupos en Telegram dedicados a diferentes temas y niveles
                                de
                                habilidad, todos con la intención de fomentar la colaboración y el aprendizaje continuo.
                                En
                                estos espacios, puedes hacer preguntas, ofrecer ayuda, y trabajar en equipo para
                                resolver
                                problemas y desarrollar nuevos proyectos. Nuestra comunidad es inclusiva y acogedora,
                                enfocada en el crecimiento colectivo y el apoyo mutuo.
                            </p>
                            <a class="telegram  btn btn-outline-primary mt-3 ms-2 text-primary" target="_blank"
                                href="https://t.me/+xGquW2xtYXRiMDM0">Canal de Telegram <img class="ms-1"
                                    src="../../../assets/icons/telegram-dark.svg" alt="telegram"></a>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <h3 class=" text-primary pb-4">Objetivos</h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 g-2 gy-3">
        <div class="col">
            <div class="card h-100 border-primary">
                <div class="card-header">
                    <h6 class="text-light card-title m-0">Experiencia Real</h6>
                </div>
                <div class="card-body">
                    <p class="text-white-50">Proporcionar un entorno donde los desarrolladores puedan trabajar en
                        proyectos
                        reales, adquiriendo experiencia práctica
                        y conocimientos valiosos.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 border-primary">
                <div class="card-header">
                    <h6 class="text-light card-title m-0">Portafolio Sólido</h6>
                </div>
                <div class="card-body">
                    <p class="text-white-50">Proporcionar un entorno donde los desarrolladores puedan trabajar en
                        proyectos
                        reales, adquiriendo experiencia práctica
                        y conocimientos valiosos.</p>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card h-100 border-primary">
                <div class="card-header">
                    <h6 class="text-light card-title m-0">Conexiones</h6>
                </div>
                <div class="card-body">
                    <p class="text-white-50">Crear un puente entre desarrolladores y empresas, facilitando la conexión y
                        el
                        descubrimiento de talento.
                    </p>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card h-100 border-primary">
                <div class="card-header">
                    <h6 class="text-light card-title m-0">Comunidad Activa</h6>
                </div>
                <div class="card-body">
                    <p class="text-white-50">
                        Fomentar una comunidad activa de apoyo mutuo, donde los desarrolladores puedan aprender unos de
                        otros y colaborar en
                        proyectos significativos.</p>
                </div>
            </div>
        </div>
    </div>
</div>
