<div class="container-fluid px-3">
    <div class="d-flex position-relative layer">
        <div class="z-1">
            <p class="parrafo text-light fs-3 ms-sm-3 ms-lg-5">Únete a Dicsstartup y colabora en proyectos innovadores de
                código abierto. ¡Todos son
                bienvenidos!</p>
            <div class="botonera ms-sm-3 ms-lg-5">
                <a href="/comoFunciona" class="btn btn-primary text-light">Como funciona</a>
                <button type="button" class="btn btn-outline-secondary ms-2">Unete!</button>
            </div>
        </div>
        <div class="flex-shrink-1 position-absolute end-0 imagen ">
            <img src="../assets/imgs/fondo.png" alt="imagen decoracion" class="img-fluid w-100 h-100 object-fit-cover ">
        </div>
    </div>
</div>
<div class="container titles">
    <div class="ms-md-3 ms-lg-5 letters">
        <p class="h1 text-light mb-n3"><span class="text-dark hidden">i</span> <span
                class="text-secondary">D</span><app-word-changer [words]="dWords"
                (endOfWords)="handleEndOfWords(1)"></app-word-changer></p>
        <p class="h1 mb-n3"><span class="text-dark hidden">i</span> <span class=" text-light " *ngIf="p2"><span
                    class="text-secondary">I</span> <app-word-changer [words]="iWords"
                    (endOfWords)="handleEndOfWords(2)"></app-word-changer></span></p>
        <p class="h1 mb-n3"><span class="text-dark hidden">i</span> <span class=" text-light " *ngIf="p3"><span
                    class="text-secondary">C</span> <app-word-changer [words]="cWords"
                    (endOfWords)="handleEndOfWords(3)"></app-word-changer></span></p>
        <p class="h1 mb-n3"><span class="text-dark hidden">i</span> <span class=" text-light " *ngIf="p4"><span
                    class="text-secondary">S</span> <app-word-changer [words]="sWords"
                    (endOfWords)="handleEndOfWords(4)"></app-word-changer></span></p>
    </div>
</div>

<app-view-projects class="my-5"></app-view-projects>

<div class="container-fluid px-md-5 d-flex flex-column justify-content-center pt-1 pb-5">
    <p class="text-secondary text-center" >Tecnologías que usamos en nuestros proyectos.</p>
    <app-tecnologias [list]="list_tec" class="py-2"></app-tecnologias>
</div>

<div class="container-fluid px-3 pt-3 pb-5">
    <p class="h1 text-light py-4 fs-1">Como funciona</p>
    <div class="d-flex flex-column mt-4">
        <div class="primary-web rounded-4 p-3 align-self-end">
            <div class="d-inline-flex float-end">
                <div class="circle bg-primary ms-1"></div>
                <div class="circle bg-primary ms-1"></div>
                <div class="circle bg-primary ms-1"></div>
            </div>
            <p class="h4 text-light  rounded-3 mt-2">¿Quiénes somos?</p>
            <p class="text-light">En <span class="text-primary">Dicsstartup</span>, potenciamos la colaboración y el
                <span class="text-primary">código abierto.</span> Somos una comunidad de desarrolladores dedicados a
                crear soluciones innovadoras. <span class="text-primary">Nuestra misión:</span> facilitar proyectos
                globales de código abierto para construir juntos un futuro tecnológico mejor.</p>
        </div>

        <div class="secondary-web rounded-4 p-3 align-self-start mt-3">
            <div class="d-inline-flex float-end">
                <div class="circle bg-body-tertiary ms-1"></div>
                <div class="circle bg-body-tertiary ms-1"></div>
                <div class="circle bg-body-tertiary ms-1"></div>
            </div>
            <p class="h4 text-light  rounded-3 mt-2">¿Por Qué Elegir Dicsstartup?</p>
            <ul>
                <li>
                    <p class="text-light"><span class="text-tertiary">Colaboración Global:</span> Trabaja con
                        desarrolladores de todo el mundo en proyectos de alto impacto.</p>
                </li>
                <li>
                    <p class="text-light"><span class="text-tertiary">Aprendizaje Continuo:</span> Mejora tus
                        habilidades de programación con recursos y talleres exclusivos.</p>
                </li>
                <li>
                    <p class="text-light"><span class="text-tertiary">Proyectos Innovadores:</span> Participa en
                        iniciativas que están a la vanguardia de la tecnología.</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class=" mt-5">
    <div class="container-fluid px-3  py-2 ">
        <p class="h1 text-light fs-1 text-end me-1 my-2">Nuestras Herramientas y Servicios</p>
    </div>
    <div class="bg-body ">
        <div class="container-fluid p-4">
            <p class="h4 text-secondary mt-4 ">Repositorios de Código Abierto</p>
            <div class="rep">
                <p class="text-light fs-5 ">Accede y contribuye a una variedad de proyectos.
                    Documentación Completa: Encuentra guías detalladas y ejemplos prácticos para empezar rápido.</p>
                    <div class="d-inline-flex  justify-content-end w-100 mb-4">
                        <button type="button" class="btn  btn-outline-secondary">Guia de inicio!</button>
                        <a class="btn btn-secondary ms-2 text-dark" target="_blank" href="https://github.com/dicsstartup"> GitHub <img class="btn-icon" src="../../../assets/icons/github-black.svg" alt="GitHub"></a>
    
                    </div>
            </div>
        </div>
    </div>

  <div class="com_act">
        <div class="container-fluid p-4">
            <p class="h4 text-primary mt-4  text-end">Comunidad activa</p>
                <p class="text-light fs-5 text-end ">Únete a foros y grupos de discusión para compartir ideas, obtener ayuda, colaborar en tiempo real, y conectar con otros desarrolladores apasionados. Participa en debates, resuelve desafíos técnicos y forma parte de una comunidad vibrante y solidaria.</p>
                    <div class="d-inline-flex  justify-content-end mt-2 w-100 mb-4">
                        <a class="telegram  btn btn-outline-primary ms-2 text-primary" target="_blank" href="https://t.me/+xGquW2xtYXRiMDM0"> Telegram <img class="btn-icon" src="../../../assets/icons/telegram-dark.svg" alt="telegram"></a>    
                    </div>
        </div>
    </div>
        <div class="bg-body">
            <div class="container p-4">
                <p class="h4 text-secondary mt-4 ">Mentoría y Soporte</p>
                <div class="rep">
                    <p class="text-light fs-5 "> Recibe orientación de expertos y participa en sesiones de mentoría con nuestro equipo para impulsar tu desarrollo profesional.</p>
                </div>
            </div>
        </div>
</div>

<div class="d-flex flex-column align-self-start my-5">
    <app-link [info]="link1"></app-link>
    <app-link [info]="link2"></app-link>
    <app-link [info]="link3"></app-link>
</div>
