<div class="footer w-100  pt-md-1 ps-md-3 rounded-top-5">
    <div class="ps-sm-5 pt-sm-4 pt-md-5 p-3">
        <div class="d-flex justify-content-start align-items-center ">
            <img class="logo" src="../../../assets/icons/logo.svg" alt="logo">
            <p class="text-light fs-4 ms-1 mb-0">DICSSTARTUP</p>
        </div>
        <p class="text-white-50 fa-3"> Desarrollando ideas creando Soluciones</p>
        <div class="d-inline-flex">
            <a class="btn btn-link" target="_blank" href="https://www.instagram.com/dics_startup/"><img
                    src="../../../assets/icons/instagram.svg" alt="Instagram"></a>
            <a class="btn btn-link" target="_blank" href="https://github.com/dicsstartup"><img
                    src="../../../assets/icons/github.svg" alt="GitHub"></a>
            <a class="btn btn-link" target="_blank" href="https://t.me/+xGquW2xtYXRiMDM0"><img
                    src="../../../assets/icons/telegram.svg" alt="Telegram"></a>
            <a class="btn btn-link" target="_blank" href="#"><span
                    class="text-white-50 material-symbols-outlined">mail</span></a>
        </div>
    </div>

    <div class="links d-sm-flex justify-content-end pb-3 pt-sm-1 p-sm-5 p-3">
        <div class="me-5 mt-3 ">
            <p class="text-light fa-6">Más</p>
            <div class="d-flex flex-column mt-md-n2 mt-n3">
                <a href="#" class=" text-white-50 link-underline link-underline-opacity-0">Blog</a>
            </div>
        </div>
        <div class="me-5 mt-3">
            <p class="text-light fa-6">Nosotros</p>
            <div class="d-flex flex-column mt-md-n2 mt-n3">
                <a href="#" class=" mb-1 text-white-50 link-underline link-underline-opacity-0">Preguntas frecuentes</a>
                <a href="#" class=" mb-1 text-white-50 link-underline link-underline-opacity-0">¿Quienes somos?</a>
                <a href="#" class=" mb-1 text-white-50 link-underline link-underline-opacity-0">Contactanos</a>

            </div>
        </div>
        <div class="me-5 mt-3">
            <p class="text-light fa-6">Legal</p>
            <div class="d-flex flex-column mt-md-n2 mt-n3">
                <a routerLink="terms&conditions" class="mb-1  text-white-50 link-underline link-underline-opacity-0">Terminos y
                    condiciones</a>
                <a routerLink="politicaDePirivacidad" class=" mb-1 text-white-50 link-underline link-underline-opacity-0">Política
                    de privacidad</a>
            </div>
        </div>
    </div>
</div>