<div class="btn link py-2">
    <div class="bg-{{info.bg}} d-inline-flex align-items-center justify-content-end rounded-end-2 p-2" [style.width]="info.w?info.w:'100%'">
        <p class="h3 text-{{info.tx}} text-end mb-0 me-sm-3" [style.marginLeft]="info.ms?info.ms:0">{{info.texto}}</p>
        <div class="btn rounded-circle border border-2 border-{{info.tx}} position-relative mx-2 mx-sm-3">
            <span class="material-symbols-outlined position-absolute top-50 start-50 translate-middle text-{{info.tx}} fs-5">arrow_outward</span>
        </div> 
    </div>
</div>