<div class="container py-3">
    <h2 class="text-light">Política de Privacidad</h2>
    
    <p class="text-white-50">En DICSSTARTUP, respetamos tu privacidad y estamos comprometidos a proteger la información personal que decides compartir con nosotros. Esta Política de Privacidad describe cómo recopilamos, usamos y protegemos la información personal de los usuarios de nuestro sitio web.</p>
    <br>
    <h4 class="text-light">2. Información que Recopilamos</h4>
    <p class="text-white-50"> Recopilamos únicamente la información personal que los programadores deciden compartir para ser contactados. Esto incluye:</p>
    <ul>
        <li class="text-white-50">Nombre</li>
        <li class="text-white-50">Dirección de correo electrónico</li>
        <li class="text-white-50">Cualquier otra información que el programador decida compartir voluntariamente</li>
    </ul>
    <br>

    <h4 class="text-light">3. Método de Recopilación</h4>
    <p class="text-white-50">La información personal es recopilada a través de formularios en nuestro sitio web o de nuestras vias de comunicación.</p>
    <br>

    <h4 class="text-light">4. Uso de la Información</h4>
    <p class="text-white-50">No utilizamos la información personal recopilada para ningún fin específico. La información se muestra públicamente y los usuarios aceptan que su información sea visible para todos los visitantes del sitio web.</p>
    <br>

    <h4 class="text-light">5. Compartición de Información</h4>
    <p class="text-white-50">No compartimos la información personal recopilada con terceros.</p>
    <br>
  
    <h4 class="text-light">6. Retención de Datos</h4>
    <p class="text-white-50">Los programadores pueden solicitar la eliminación de su información personal en cualquier momento. No retenemos la información una vez que se ha solicitado su eliminación.</p>
    <br>

    <h4 class="text-light">7. Seguridad de la Información</h4>
    <p class="text-white-50">No implementamos medidas de seguridad específicas para proteger la información personal, ya que toda la información que se guarda es pública y se acepta que se muestre públicamente.</p>
    <br>

    <h4 class="text-light">8. Derechos de los Usuarios</h4>
    <p class="text-white-50">Los usuarios tienen el derecho de:</p>
    <ul>
        <li class="text-white-50">Acceder a su información personal que se ha publicado en nuestro sitio web.</li>
        <li class="text-white-50">Solicitar la corrección o eliminación de su información personal.</li>
    </ul>
    <p class="text-white-50">Para ejercer estos derechos, los usuarios pueden contactarnos en diccstartup@gmail.com.</p>
    <br>

    <h4 class="text-light">9. Cookies y Tecnologías de Seguimiento</h4>
    <p class="text-white-50">No utilizamos cookies ni otras tecnologías de seguimiento en nuestro sitio web.</p>
    <br>

    <h4 class="text-light">10. Cambios en la Política de Privacidad</h4>
    <p class="text-white-50">Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Las modificaciones serán efectivas inmediatamente después de su publicación en el sitio web. Es responsabilidad de los usuarios revisar la Política de Privacidad periódicamente.</p>
    <br>

    <h4 class="text-light">11. Contacto</h4>
    <p class="text-white-50">Si tienes alguna pregunta o inquietud sobre esta Política de Privacidad, por favor, contáctanos en diccstartup@gmail.com.</p>
</div>