<div class="container py-4">
    <p class=" text-light h2">Términos y Condiciones</p>
    <p class="text-white-50 py-2">Bienvenido a <span class="text-primary">DICSSTARTUP</span>. Estos Términos y Condiciones
        regulan el uso de nuestro sitio web
        ubicado en <span class="text-primary">https://dicsstartup.com</span>.</p>
    <br>
    <p class="text-light h4">1. Aceptación de los Términos</p>
    <p class="text-white-50">Al acceder o utilizar nuestro sitio web, aceptas estar sujeto a estos Términos y
        Condiciones.
        Si no estás de
        acuerdo
        con alguna parte de los términos, no debes utilizar nuestro sitio web.</p>
    <br>
    <p class="text-light h4">2. Cambios en los Términos</p>
    <p class=" text-white-50">Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento.
        Las modificaciones serán
        efectivas inmediatamente después de su publicación en el sitio web. Es tu responsabilidad revisar los términos
        periódicamente.</p>
    <br>
    <p class="text-light h4">4. Uso del Sitio</p>
    <ul>
        <li>
            <p class=" h5 text-primary opacity-75">a. Contenido</p>
            <p class=" text-white-50 ps-4">Todo el contenido proporcionado en nuestro sitio es solo para fines
                informativos. Nos reservamos el derecho de
                actualizar, modificar o eliminar el contenido en cualquier momento sin previo aviso.
            </p>
        </li>
        <li>
            <p class=" h5 text-primary opacity-75">b. Conducta del Usuario</p>
            <p class=" text-white-50 ps-4">Al usar nuestro sitio, te comprometes a no:
                Violentar ninguna ley o regulación aplicable.
                Interferir con la seguridad, funcionamiento o contenido del sitio.
                Utilizar el sitio para cualquier propósito ilegal o no autorizado.</p>
        </li>
    </ul>
    <br>
    <p class="text-light h4">5. Propiedad Intelectual</p>
    <p class=" text-white-50">Todos los derechos de propiedad intelectual del contenido del sitio, incluidos textos,
        gráficos, logos, imágenes y software, son propiedad de DICSSTARTUP o de sus colaboradores, y están disponibles bajo
        las licencias de código abierto correspondientes. Puedes usar, reproducir y distribuir el contenido de acuerdo con
        los términos de las licencias específicas aplicables a cada proyecto.</p>
    
    <p class=" text-white-50"> Es tu responsabilidad revisar y cumplir con los términos de las licencias de los proyectos
        individuales. Si tienes alguna pregunta sobre las licencias o el uso del contenido, por favor contáctanos en diccstartup@gmail.com.</p>
    <br>
    <p class="text-light h4">6. Limitación de Responsabilidad</p>
    <p class=" text-white-50">En la máxima medida permitida por la ley, DICSSTARTUP no será responsable por cualquier daño indirecto,
        incidental, especial, consecuente o punitivo, incluyendo, sin limitación, pérdida de beneficios, datos o uso, resultante
        de o relacionado con el uso del sitio web.</p>
    <br>
    <p class="text-light h4">7. Enlaces a Terceros</p>
    <p class=" text-white-50">Nuestro sitio puede contener enlaces a sitios web de terceros que no son propiedad ni están controlados por nosotros. No
        tenemos control sobre, y no asumimos responsabilidad por, el contenido, políticas de privacidad o prácticas de sitios
        web de terceros.</p>
    <br>
    <p class="text-light h4">
        8. Política de Privacidad</p>
    <p class=" text-white-50">Tu privacidad es importante para nosotros. Por favor, revisa nuestra Política de Privacidad para entender cómo
        recopilamos, usamos y protegemos tu información personal.</p>
    <br>
    <p class="text-light h4">9. Ley Aplicable</p>
    <p class=" text-white-50">Estos Términos y Condiciones se regirán e interpretarán de acuerdo con las leyes de España, sin dar efecto a
        sus principios de conflicto de leyes.</p>
    <br>
    <p class="text-light h4">10. Contacto</p>
    <p class=" text-white-50">Si tienes alguna pregunta o inquietud sobre estos Términos y Condiciones, por favor, contáctanos en diccstartup@gmailcom.</p>
</div>