<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<a routerLink="home" class="d-flex justify-content-start align-items-center"
			(click)="offcanvas.dismiss('Cross click')">
			<img src="../../../assets/icons/logo.svg" alt="logo">
			<p class="text-light fs-5 ms-1">DICSSTARTUP</p>
		</a>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body py-0">
		<div class="d-flex flex-column lista">
			<a *ngFor="let i of list" class="item px-3 py-2 mb-1 text-light" (click)="offcanvas.dismiss('Cross click')"
				routerLinkActive="active" routerLink="{{i.href}}" aria-current="page">
				{{i.label}}
			</a>
		</div>

	</div>
</ng-template>

<div class="w-100 bg-body">
	<div class="container-fluid d-flex justify-content-between">
		<a routerLink="home" class="btn d-flex flex-row justify-content-start align-items-center ">
			<img src="../../../assets/icons/logo.svg" alt="logo">
			<p class="text-light fs-4 ms-1">DICSSTARTUP</p>
		</a>
		<button class="btn btn-dark ml-auto p-1" (click)="open(content)">
			<span class="material-symbols-outlined">drag_handle</span>
		</button>
	</div>
</div>