p {
    margin: 0px;
}

img {
    width: 50px;
}


.btn {
    float: right;
    font-family:  "Supreme-Regular",Roboto,"Helvetica Neue",;

    .material-symbols-outlined {
        font-size: 48px;
    }
}