@import '/src/assets/fonts/Supreme/Fonts/WEB/css/supreme.css';
@import '/src/assets/fonts/Technor/Fonts/WEB/css/technor.css';
@import '/src/varieble';

@import "../node_modules/bootstrap/scss/bootstrap";

body{
  margin: 0;
}
 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--bs-body-bg-rgb) , .8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}